<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta content="" name="description"/>
    <meta content="webthemez" name="author"/>
    <title>Bootstrap HTML5 Admin Template</title>
    <link rel="shortcut icon" type="image/x-icon" href="__STATIC__/favicon.ico"/>
    <link href="__STATIC__/admin/assets/css/bootstrap.css" rel="stylesheet"/>
    <!-- FontAwesome Styles-->
    <link href="__STATIC__/admin/assets/css/font-awesome.css" rel="stylesheet"/>
    <!-- Morris Chart Styles-->
    <link href="__STATIC__/admin/assets/js/morris/morris-0.4.3.min.css" rel="stylesheet"/>
    <!-- Custom Styles-->
    <link href="__STATIC__/admin/assets/css/zTreeStyle/zTreeStyle.css" rel="stylesheet"/>
    <link href="__STATIC__/admin/assets/css/custom-styles.css" rel="stylesheet"/>
    <!-- Google Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
    <!-- TABLE STYLES-->
    <link href="__STATIC__/admin/assets/js/dataTables/dataTables.bootstrap.css" rel="stylesheet"/>
    <!--<link href="__STATIC__/layer/theme/default/layer.css" rel="stylesheet" />-->
    <link href="__STATIC__/admin/layui/css/layui.css" rel="stylesheet"/>
    <link href="__STATIC__/admin/dist/themes/default/style.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>


    <!--<script src="__STATIC__/admin/dist/jstree.min.js"></script>-->
    <!--<script src="__STATIC__/admin/assets/js/jquery-1.10.2.js"></script>-->
    <style>
        .layui-tree li i {
            color: #f36a5a;
        }

        .action_collect span label{
            padding: 0;
            text-align: right;
            width: 5%;
        }
        .action_collect span .key{
            width: 50%;
        }

        #menu{
            width: 0; /*设置为0 隐藏自定义菜单*/
            height: 125px;
            overflow: hidden; /*隐藏溢出的元素*/
            box-shadow: 0 1px 1px #888,1px 0 1px #ccc;
            position: absolute; /*自定义菜单相对与body元素进行定位*/
        }
        .menu{
            width: 130px;
            height: 25px;
            line-height: 25px;
            padding: 0 10px;
        }

    </style>
    <!-- JS Scripts-->

</head>
<body>
<div id="wrapper">
    <nav class="navbar navbar-default top-navbar" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="url('admin/index')"><strong><i class="icon fa fa-plane"></i> 管理员端</strong></a>
            <div id="sideNav" href="">
                <i class="fa fa-bars icon"></i>
            </div>
        </div>

        <ul class="nav navbar-top-links navbar-right">
            <!-- /.dropdown -->
            <li class="dropdown">
                <!--{{&#45;&#45;时钟&#45;&#45;}}-->
                <div id="txt"></div>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="{:url('admin/logout')}"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
    </nav>
    <!--/. NAV TOP  -->
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">
            <li>
            <a href="{:url('admin/index')}" class="<?php if(request()->path()=='admin/index') echo 'active-menu'; ?>"><i class="fa fa-dashboard"></i> 用户列表</a>
            </li>
            </ul>
        </div>
    </nav>
    <!-- /. NAV SIDE  -->
    <div id="page-wrapper">
        <div class="action_collect">
            <h4 style="padding-left: 30px;padding-top: 2%">
                <div class="panel-heading col-md-12" style="background:#f0ad4e;line-height: 34px;">
                    <span>
                        <label class="col-md-1 control-label">部门：</label>
                        <div class="col-md-2">
                            <select class="form-control" name="did" id="department_search_option" onchange="department_search_option()">
                                <option value="" disabled selected>请选择</option>
                                {volist name="department" id="value"}
                                <option value="{$value.did}">{$value.department}</option>
                                {/volist}
                            </select>
                        </div>
                    </span>
                    <span>
                        <label class="col-md-1 control-label">职位：</label>
                        <div>
                            <span class="col-md-2">
                                <select class="form-control" name="rid" id="role_search_option" onchange="role_search_option()">
                                    <option value="" disabled selected>请选择</option>
                                    {volist name="role" id="value"}
                                    <option value="{$value.rid}">{$value.rolename}</option>
                                    {/volist}
                                </select>
                            </span>
                        </div>
                    </span>
                    <span>
                        <label class="col-md-1 control-label">搜索：</label>
                        <div class="col-md-3">
                            <form id="user_serach" action="{:url('admin/index')}" method="post">
                            <input class="col-md-2 form-control key" type="text" id="search_key" name="key" placeholder="请输入关键字"  >
                            <input type="hidden" name="click_department_key">
                            <input type="hidden" name="click_role_key">
                            <input type="hidden" name="page">
                            <input type="button" id="submit" name="" value="提交" class="btn btn-default"onclick="search()">
                        </form>
                        </div>
                    </span>
                    <span class="col-md-2">
                        <a href="#" data-toggle="modal" data-target="#add_dialog"
                           style="float: right;color: #0C0C0C"><i class="fa fa-plus ">添加新用户</i></a>
                    </span>
                </div>
            </h4>
        </div>
        <div id="page-inner" style="min-height: 600px">
            <div class="row">
                <div class="col-md-12">
                    <!-- Advanced Tables -->
                    <div class="col-md-2" style="min-height: 600px;padding: 15px;">
                        <div>
                            <td class="control-label table table-striped table-bordered ">结构(点击右键编辑目录)</td>
                            <div  id="tree">
                                <ul id="treeDemo" class="ztree"></ul>
                            </div>
                            <ul id="demo1"></ul>
                            <ul id="demo2"></ul>
                        </div>
                    </div>
                        <div class="panel-body col-md-10">
                            <div id="usertable">
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>用户名</th>
                                        <th>部门</th>
                                        <th>角色</th>
                                        <th>爱好</th>
                                        <th>操作</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <div id="usertable1">
                                        {volist name='data_list' id='vo'}
                                        <tr class="odd gradeX">
                                            <td>{$vo.uid}</td>
                                            <td>{$vo.uname|msubstr=0,5,'utf-8',true}</td>
                                            <td>
                                                <!--{$vo.department}-->
                                                <select class="form-control" name="did" id="dp{$vo.uid}"
                                                        onchange="departmentChange({$vo.uid})" style="width: 100%">
                                                    {volist name="department" id="value"}
                                                    <option value="{$value.did}" {$value.did==$vo.did?'selected':''}>
                                                        {$value.department}
                                                    </option>
                                                    {/volist}
                                                </select>
                                            </td>
                                            <td>
                                                <!--{$vo.rolename}-->
                                                <select class="form-control" name="rid" id="role{$vo.uid}"
                                                        onchange="roleChange({$vo.uid})" style="width: 100%">
                                                    {volist name="role" id="value"}
                                                    <option value="{$value.rid}" {$value.rid==$vo.rid?'selected':''}>
                                                        {$value.rolename}
                                                    </option>
                                                    {/volist}
                                                </select>
                                            </td>
                                            <td>{$vo.hobby|msubstr=0,15,'utf-8',true}</td>
                                            <td><a href="javascript:;" data-toggle="modal" data-target="#update_dialog"
                                                   onclick="jsedit({$vo.uid})">
                                                <button type="button" class="btn btn-primary">修改</button>
                                            </a></td>
                                            <td><a href="javascript:;"><button type="button" class="btn btn-danger"onclick="userdel({$vo.uid})">删除</button></a></td>
                                        </tr>
                                        {/volist}
                                    </div>
                                    </tbody>
                                </table>
                                <div style="float: right">
                                    {$paginator->render()}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="update_dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">修改用户信息</h4>
                    </div>
                    <div class="modal-body">
                        <!--<form id="user_update" class="form-horizontal" action="{:url('admin/userupdate')}" method="post" enctype="multipart/form-data">-->
                        <form id="user_update" class="form-horizontal" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <input type="hidden" name="uid" id="uid">
                                <label class="col-md-2 control-label">用户名</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="uname" placeholder="用户名" name="uname">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">部门</label>
                                <div class="col-md-10">
                                    <select class="form-control" name="did" id="department" style="width: 100%">
                                        {volist name="department" id="value"}
                                        <option value="{$value.did}" id="did">{$value.department}</option>
                                        {/volist}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">角色</label>
                                <div class="col-md-10">
                                    <select class="form-control" name="rid" id="role">
                                        {volist name="role" id="value"}
                                        <option value="{$value.rid}" id="rid">{$value.rolename}</option>
                                        {/volist}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">爱好</label>
                                <div class="col-md-10">
                                    {volist name="hobby" id="vo"}
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="hobby[]" id="hobby{$vo.hid}" value="{$vo.hid}">
                                        {$vo.hobby}
                                    </label>
                                    {/volist}
                                </div>
                            </div>

                            <div class="modal-footer">
                                <!--<input type="submit" name="" value="提交" class="btn btn-default">-->
                                <input type="button" name="" value="提交" onclick="userupdate()" class="btn btn-default">
                                <!--<input type="reset" name="" value="重置" class="btn btn-default">-->
                                <button type="button" class="btn btn-default" onclick="" data-dismiss="modal">关闭
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="add_dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">添加用户信息</h4>
                    </div>
                    <div class="modal-body">
                        <!--<form class="form-horizontal" action="{:url('admin/useradd')}" method="post" enctype="multipart/form-data">-->
                        <form id="user_add" class="form-horizontal" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label class="col-md-2 control-label">用户名</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" value="" placeholder="用户名" name="uname"
                                           autocomplete="off">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">密码</label>
                                <div class="col-md-10">
                                    <input type="password" class="form-control" value="" placeholder="密码"
                                           name="password" autocomplete="off">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">部门</label>
                                <div class="col-md-10">
                                    <select class="form-control" name="did" style="width: 100%">
                                        {volist name="department" id="value"}
                                        <option value="{$value.did}">{$value.department}</option>
                                        {/volist}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">角色</label>
                                <div class="col-md-10">
                                    <select class="form-control" name="rid">
                                        {volist name="role" id="value"}
                                        <option value="{$value.rid}">{$value.rolename}</option>
                                        {/volist}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">爱好</label>
                                <div class="col-md-10">
                                    {volist name="hobby" id="vo"}
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="hobby[]" value="{$vo.hid}"> {$vo.hobby}
                                    </label>
                                    {/volist}
                                </div>
                            </div>

                            <div class="modal-footer">
                                <input type="button" name="" value="提交" onclick="useradd()" class="btn btn-default">
                                <!--<input type="reset" name="" value="重置" class="btn btn-default">-->
                                <button type="button" class="btn btn-default" onclick="" data-dismiss="modal">关闭
                                </button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
        <div class="modal fade" id="tree_dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">添加用户信息</h4>
                </div>
                <div class="modal-body">
                    <!--<form class="form-horizontal" action="{:url('admin/useradd')}" method="post" enctype="multipart/form-data">-->
                    <form id="tree_action" class="form-horizontal" method="post">
                        <input type="hidden" name="did" id="departmentupdateid">
                        <div class="form-group">
                            <label class="col-md-2 control-label">部门名称</label>
                            <div class="col-md-10">
                                <input type="text" id="departmentupdatename" class="form-control" value="" placeholder="部门名称" name="department"
                                       autocomplete="off">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input type="button" name="" value="提交" onclick="treeAction()" class="btn btn-default">
                            <!--<input type="reset" name="" value="重置" class="btn btn-default">-->
                            <button type="button" class="btn btn-default" onclick="" data-dismiss="modal">关闭
                            </button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
</div>
<!-- Bootstrap Js -->
<script src="__STATIC__/admin/assets/js/bootstrap.min.js"></script>
<!-- Metis Menu Js -->
<script src="__STATIC__/admin/assets/js/jquery.metisMenu.js"></script>
<script src="__STATIC__/admin/assets/js/morris/raphael-2.1.0.min.js"></script>
<!-- DATA TABLE SCRIPTS -->
<script src="__STATIC__/admin/assets/js/dataTables/jquery.dataTables.js"></script>
<script src="__STATIC__/admin/assets/js/dataTables/dataTables.bootstrap.js"></script>
<script src="__STATIC__/admin/assets/js/jquery.ztree.all.js"></script>
<script src="__STATIC__/admin/layui/layui.all.js"></script>
<!---->
<script>
    $(document).ready(function () {
        treeInit();
        //树形菜单点击事件
        $('#treeDemo').on("changed.jstree", function (e, data) {
            var key_text=data.instance.get_node(data.selected).text;//输出当前选中的区域的名称
            var key_id=data.instance.get_node(data.selected).id;//输出当前选中的区域的id
            // alert(key_text);
            $('#departmentupdatename').val(key_text);
            $('#departmentupdateid').val(key_id);
            //需要判断是否点击的是左键，如果是右键应该不做操作
            if (key_id != "root") {
                $('#user_serach input[name=click_department_key]').val(key_text);
                search();
            } else {
                $('#user_serach input[name=click_role_key]').val('');
                $('#user_serach input[name=click_department_key]').val('');
                $('#user_serach input[name=key]').val('');
                search();
            }
        });
        // $.post("{:url('admin/getdepartment')}", {}, function (data) {
        //     layui.use(['tree', 'layer'], function () {
        //         var layer = layui.layer
        //             , $ = layui.jquery;
        //
        //         layui.tree({
        //             elem: '#demo1' //指定元素
        //             , target: '_blank' //是否新选项卡打开（比如节点返回href才有效）
        //             , click: function (item) { //点击节点回调
        //                 // console.log(data);
        //                 var key = item.name;
        //                 if (typeof item.id != "undefined") {
        //                     $('#user_serach input[name=click_department_key]').val(key);
        //                     // $('#user_serach input[name=click_role_key]').val('');
        //                     // $('#user_serach input[name=key]').val('');
        //                     search();
        //                 } else {
        //                     $('#user_serach input[name=click_role_key]').val('');
        //                     $('#user_serach input[name=click_department_key]').val('');
        //                     $('#user_serach input[name=key]').val('');
        //                     search();
        //                 }
        //             }
        //             , nodes: data
        //         });
        //     });
        // });
        // $.post("{:url('admin/getrole')}", {}, function (data) {
        //     layui.use(['tree', 'layer'], function () {
        //         var layer = layui.layer
        //             , $ = layui.jquery;
        //
        //         layui.tree({
        //             elem: '#demo2' //指定元素
        //             , target: '_blank' //是否新选项卡打开（比如节点返回href才有效）
        //             , click: function (item) { //点击节点回调
        //                 var key = item.name;
        //                 if (typeof item.id != "undefined") {
        //                     // $('#user_serach input[name=click_department_key]').val('');
        //                     // $('#user_serach input[name=key]').val('');
        //                     $('#user_serach input[name=click_role_key]').val(key);
        //                     search();
        //                 } else {
        //                     $('#user_serach input[name=click_role_key]').val('');
        //                     $('#user_serach input[name=click_department_key]').val('');
        //                     $('#user_serach input[name=key]').val('');
        //                     search();
        //                 }
        //             }
        //             , nodes: data
        //         });
        //     });
        // });
    });

    function treeInit(){
        // alert('treeinit');
        $.post("{:url('admin/getdepartment')}", {}, function (data) {
            console.log(data);
            $('#treeDemo').jstree({
                'plugins': ['types','themes','contextmenu'],
                'core' : {
                    'multiple' : true,
                    'dblclick_toggle': true,
                    'data' : data
                },
                'contextmenu': {    // 右键菜单
                    'items': {
                        'edit': {
                            'label': '编辑',
                            'action': function (){
                                $('#tree_dialog').modal('show');
                                // alert($('#departmentupdatename').val());
                                // alert($('#departmentupdateid').val());
                            }
                        },
                        'delete': {
                            'label': '删除',
                            'action': function () {
                                alert('删除')
                            }
                        },
                        'new':{
                            'label': '新建',
                            'action':function () {
                                alert('新建')
                            }
                        }
                    }
                }
            });
        });
    }

    $("body").delegate(".my_page_class", "click", function () {
        var page = $(this).html();
        $('#user_serach input[name=page]').val(page);
        search();
    });

    function jsedit(uid) {
        //从数据库中根据tid获取记录
        $.getJSON(
            "{:url('admin/edit')}", {"uid": uid}, function (json) {
                $("#uid").val(json.uid);
                $("#uname").val(json.uname);
                $("#department").val(json.did);
                $("#role").val(json.rid);
                var checkbox = $('#hobby1').children("input");
                for (i = 1; i <= json.count; i++) {
                    $("#hobby" + i).prop("checked", false);
                    if (json.hobby.indexOf('' + i) != -1)
                        $("#hobby" + i).prop("checked", true);
                }
            });
    }

    function userupdate() {
        var form = $("#user_update").serialize();
        $.post("{:url('admin/userupdate')}", form, function (data) {
            console.log(data);
            $('.modal').map(function () {
                if (!$(this).is(":hidden")) {
                    $(this).modal('hide');
                }
            });
            if (typeof data.status == 0) {
                layer.msg(data.msg, {icon: 6, time: 500});
            } else {
                layer.msg('修改成功', {icon: 6, time: 500});
                search();
            }
        })
    }

    function useradd() {
        var form = $("#user_add").serialize();
        $.post("{:url('admin/useradd')}", form, function (data) {
            console.log(data);
            $('.modal').modal(function () {
                if (!$(this).is(":hidden")) {
                    $(this).modal('hide');
                }
            });
            if (typeof data.status == 0) {
                layer.msg(data.msg, {icon: 5, time: 500});
            } else {
                layer.msg('添加成功', {icon: 6, time: 500});
                search();
            }
        })
    }

    function search() {
        $.post("{:url('admin/index')}", $('#user_serach').serialize(), function (data) {
            console.log(data);
            $('#usertable').html($(data).find('#usertable').html());
        });
    }

    function treeAction() {
        $.post("{:url('admin/treeaction')}", $('#tree_action').serialize(), function (data) {
            console.log(data);
            if(typeof data.status != "undefined"){
                layer.msg(data.msg, {icon: 5, time: 500});
            }else{
                $('#tree').html($(data).find('#tree').html());
                // $str="<ul id=\"demo1\">haha</ul>";
                $('#tree_dialog').modal('hide');
                // $('#tree').html($str);
                treeInit();
            }
        });
    }

    $("#search_key").keydown(function (event) {
        if (event.keyCode == "13") {
            search();
            return false;
        }
    });

    function userdel(id) {
        layer.confirm('确认删除', {btn: ['确认', '取消']},
            function () {
                $.post("{:url('admin/userdel')}", {"uid": id}, function (data) {
                    // alert(data.msg);
                    if (data.status == 0) {
                        // location.href=location.href;//刷新页面
                        layer.msg(data.msg, {icon: 6, time: 500});
                        search();
                    } else {
                        layer.msg(data.msg, {icon: 5, time: 500});
                    }
                });
            }, function () {
            });
    }

    function departmentChange(id) {
        //获取当前选择的option
        var position = "#dp" + id;
        var did = $(position).children('option:selected').val();
        $.post("{:url('admin/dpchange')}", {"uid": id, "did": did}, function (data) {
            if (data.status == 1) {
                layer.msg(data.msg, {icon: 6, time: 500});
            } else {
                layer.msg(data.msg, {icon: 5, time: 500});
            }
        })
    }

    function roleChange(id) {
        //获取当前选择的option
        var position = "#role" + id;
        var rid = $(position).children('option:selected').val();
        $.post("{:url('admin/rolechange')}", {"uid": id, "rid": rid}, function (data) {
            if (data.status == 1) {
                layer.msg(data.msg, {icon: 6, time: 500},);
            } else {
                layer.msg(data.msg, {icon: 5, time: 500})
            }
        })
    }

    function role_search_option() {
        var rid=$("#role_search_option").children('option:selected').text();
        // alert(rid);
        $('#user_serach input[name=click_role_key]').val(rid);
    }

    function department_search_option() {
        var did=$("#department_search_option").children('option:selected').text();
        // alert(did);
        $('#user_serach input[name=click_department_key]').val(did);
    }

    function getmousekey() {
        $('#treeDemo').onmousedown(function (e) {
            var e=window.event||e;//获取事件对象
            var value=e.button;
            if(value==3){
                return 1;
            }else{
                return 0;
            }
        })
    }

    function getinstanceitem() {
        $('#treeDemo').on("changed.jstree", function (e, data) {
            return data;
        });
    }

</script>
</body>
</html>




