<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta content="" name="description" />
    <meta content="webthemez" name="author" />
    <title>Bootstrap HTML5 Admin Template</title>
    <link rel="shortcut icon" type="image/x-icon" href="__STATIC__/favicon.ico" />
    <link href="__STATIC__/admin/assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="__STATIC__/admin/assets/css/font-awesome.css" rel="stylesheet" />
    <!-- Morris Chart Styles-->
    <link href="__STATIC__/admin/assets/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="__STATIC__/admin/assets/css/zTreeStyle/zTreeStyle.css" rel="stylesheet" />
    <link href="__STATIC__/admin/assets/css/custom-styles.css" rel="stylesheet" />
    <!-- Google Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <!-- TABLE STYLES-->
    <link href="__STATIC__/admin/assets/js/dataTables/dataTables.bootstrap.css" rel="stylesheet" />
    <!--<link href="__STATIC__/layer/theme/default/layer.css" rel="stylesheet" />-->
    <link href="__STATIC__/admin/layui/css/layui.css" rel="stylesheet" />

    <style>
        a{
            color: white;
        }
        .ztree li a {
            color: white;
        }
        .layui-tree li i{
            color: #f36a5a;
        }

    </style>

</head>
<body>
<div id="wrapper">
    <nav class="navbar navbar-default top-navbar" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="url('admin/index')"><strong><i class="icon fa fa-plane"></i> 管理员端</strong></a>
            <div id="sideNav" href="">
                <i class="fa fa-bars icon"></i>
            </div>
        </div>

        <ul class="nav navbar-top-links navbar-right">
            <!-- /.dropdown -->
            <li class="dropdown">
                <!--{{&#45;&#45;时钟&#45;&#45;}}-->
                <div id="txt"></div>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                    </li>
                    <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="{:url('admin/logout')}"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
    </nav>
    <!--/. NAV TOP  -->
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <!--<ul class="nav" id="main-menu">-->
                <!--<li>-->
                    <!--<a href="{:url('admin/index')}" class="<?php if(request()->path()=='admin/index') echo 'active-menu'; ?>"><i class="fa fa-dashboard"></i> 用户列表</a>-->
                <!--</li>-->
            <!--</ul>-->
            <ul id="treeDemo" class="ztree"></ul>
                <ul id="demo1"></ul>
                <ul id="demo2"></ul>
        </div>
    </nav>
    <!-- /. NAV SIDE  -->
    <div id="page-wrapper">
        {__CONTENT__}
    </div>
</div>
<!-- JS Scripts-->
<script src="__STATIC__/admin/assets/js/jquery-1.10.2.js"></script>
<!-- Bootstrap Js -->
<script src="__STATIC__/admin/assets/js/bootstrap.min.js"></script>
<!-- Metis Menu Js -->
<script src="__STATIC__/admin/assets/js/jquery.metisMenu.js"></script>
<script src="__STATIC__/admin/assets/js/morris/raphael-2.1.0.min.js"></script>
<!--<script src="__STATIC__/admin/assets/js/morris/morris.js"></script>-->
<!-- DATA TABLE SCRIPTS -->
<script src="__STATIC__/admin/assets/js/dataTables/jquery.dataTables.js"></script>
<script src="__STATIC__/admin/assets/js/dataTables/dataTables.bootstrap.js"></script>
<script src="__STATIC__/admin/assets/js/jquery.ztree.all.js"></script>
<!--<script src="__STATIC__/admin/assets/js/custom-scripts.js"></script>-->
<!--<script src="__STATIC__/admin/assets/js/custom.js"></script>-->
<script src="__STATIC__/admin/layui/lay/layer.js"></script>
<!--<script src="__STATIC__/layer/layui.js"></script>-->
<script src="__STATIC__/admin/layui/layui.all.js"></script>
<!---->
<script>
    //Demo
    $(document).ready(function(){
        $.post("{:url('admin/getdepartment')}",{},function (data){
            layui.use(['tree', 'layer'], function(){
                var layer = layui.layer
                    ,$ = layui.jquery;

                    layui.tree({
                        elem: '#demo1' //指定元素
                        ,target: '_blank' //是否新选项卡打开（比如节点返回href才有效）
                        ,click: function(item){ //点击节点回调
                            var key=item.name;
                            if(typeof item.id!="undefined"){
                                $.post("{:url('admin/index')}",{'click_department_key':key},function (html_data) {
                                    $('#usertable').html($(html_data).find('#usertable').html());
                                });
                            }
                       }
                        ,nodes: data
                    });
            });
        });
        $.post("{:url('admin/getrole')}",{},function (data){
            layui.use(['tree', 'layer'], function(){
                var layer = layui.layer
                    ,$ = layui.jquery;

                layui.tree({
                    elem: '#demo2' //指定元素
                    ,target: '_blank' //是否新选项卡打开（比如节点返回href才有效）
                    ,click: function(item){ //点击节点回调
                        var key=item.name;
                        if(typeof item.id!="undefined"){
                            $.post("{:url('admin/index')}",{'click_role_key':key},function (html_data) {
                                $('#usertable').html($(html_data).find('#usertable').html());
                            });
                        }
                    }
                    ,nodes: data
                });
            });
        });
    });


</script>
<!--<script>-->

    <!--var zTreeObj;-->
    <!--// zTree 的参数配置，深入使用请参考 API 文档（setting 配置详解）-->
    <!--var setting = {-->
        <!--view:{-->
            <!--showLine:false,-->
            <!--showIcon:false-->
        <!--},-->
        <!--callback:{-->
            <!--onClick:onClick,-->
            <!--beforeExpand: beforeExpand,-->
            <!--onExpand: onExpand-->
        <!--},-->
        <!--async: {-->
            <!--enable: true,//开启异步-->
            <!--url: "./package.json",-->
            <!--type:"get",-->
            <!--autoParam: ["tId"],//数据传递，tId是系统自动生成的当前树枝的id，此处也可以换成自己设置的属性，比如“ename”，那么传递的数据就是ename=one-->
            <!--dataFilter:filter//对返回值进行操作-->
        <!--}-->
    <!--};-->
    <!--// zTree 的数据属性，深入使用请参考 API 文档（zTreeNode 节点数据详解）-->
    <!--var zNodes = [-->
        <!--{name:"部门",  children:[-->
                <!--{name:"test1_1"}, {name:"test1_2",  children:[-->
                        <!--{name:"test1_1"}, {name:"test1_2"}]}]},-->
        <!--{name:"职位",  children:[-->
                <!--{name:"test2_1"}, {name:"test2_2"}]}-->
    <!--];-->



    <!--$(document).ready(function(){-->
        <!--$.post("{:url('admin/getdepartment')}",{},function (data){-->
            <!--zTreeObj = $.fn.zTree.init($("#treeDemo"), setting, data);-->
        <!--});-->

    <!--});-->
    <!--function onClick() {-->

    <!--}-->
    <!--function beforeExpand() {-->

    <!--}-->
    <!--function onExpand() {-->

    <!--}-->
    <!--function filter() {-->

    <!--}-->
    <!--var setting = {-->
        <!--data: {-->
            <!--simpleData: {-->
                <!--enable: true,-->
                <!--idKey: "id",-->
                <!--pIdKey: "pId",-->
                <!--rootPId: 0-->
            <!--}-->
        <!--}-->
    <!--};-->
    <!--var treeObj = $.fn.zTree.getZTreeObj("treeDemo");-->
    <!--// alert(nodes);-->

<!--</script>-->
<!-- Custom Js -->
</body>
</html>